.main {
  padding-block: 26px 80px;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results {
  min-height: 300px;
  margin-top: 24px;
}

.pagination {
  margin-top: 44px;
}

@media screen and (min-width: 768px) {
  .main {
    padding-block: 48px 80px;
  }

  .heading {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  .results {
    margin-top: 44px;
  }

  .pagination {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    padding-block: 64px 80px;
  }

  .results {
    margin-top: 60px;
  }
}
