.dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  max-height: none;
  margin: 0;
  padding: 20px;
  border: 0;
  background-color: transparent;
}

.dialog[open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog::backdrop {
  background-color: rgba(38, 38, 38, 0.3);
  backdrop-filter: blur(2px);
}

.content {
  position: relative;
  width: 100%;
  max-width: 335px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  border-radius: var(--radius-large);
  background-color: var(--color-surface);
}

.close {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  transition:
    color var(--transition),
    transform var(--transition);
}

.close:hover,
.close:focus-visible {
  color: var(--color-primary);
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .dialog {
    padding: 32px;
  }

  .content {
    max-width: 480px;
  }
}
