.main {
  padding-bottom: 20px;
}

.container {
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .main {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    grid-template-columns: 520px minmax(0, 1fr);
    align-items: start;
    gap: 32px;
  }
}
