.main {
  padding-block: 10px 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  min-height: 390px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 112px 20px 50px;
  border-radius: var(--radius-large);
  color: var(--color-surface);
  background-color: var(--color-primary);
}

.title {
  max-width: 640px;
  font-size: clamp(44px, 13vw, 50px);
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -1.5px;
}

.accent {
  color: var(--color-primary-light);
}

.description {
  max-width: 300px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.28px;
}

.picture {
  display: block;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--radius-large);
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .main {
    padding-block: 16px 32px;
  }

  .hero {
    min-height: 496px;
    padding: 150px 32px 44px;
  }

  .title {
    max-width: 640px;
    font-size: 80px;
    letter-spacing: -2.4px;
  }

  .description {
    max-width: 310px;
    margin-top: 32px;
    margin-left: auto;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    min-height: 384px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 72px;
    padding: 160px 64px 32px;
  }

  .title {
    max-width: 760px;
    font-size: 90px;
    line-height: 0.97;
    letter-spacing: -2.7px;
  }

  .description {
    max-width: 255px;
    margin-top: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 1.22;
  }
}
