.button {
  display: flex;
  min-height: 42px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 32px;
  padding-inline: 24px;
  border-radius: var(--radius-round);
  color: var(--color-primary);
  background-color: var(--color-primary-light);
  font-weight: 700;
  text-transform: uppercase;
  transition:
    color var(--transition),
    background-color var(--transition);
}

.button:hover,
.button:focus-visible {
  color: var(--color-surface);
  background-color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .button {
    min-height: 48px;
    margin-top: 40px;
    font-size: 16px;
  }
}
